@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80px; 
}
.navega {  
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #37a5c7 ;
  align-items: center;
  justify-content: center;
  height: 80px;
  z-index: 1;
  font-size: 15px;

}
#btn-menu {
  display: none;
}

header label {
  display: none;
  
}

.logo {
 width: 50px;
  margin-left: 35px;
  margin-right: 3px;
 

}
.navega ul {
  display: flex;
  width: 500px;
  position: relative;

  
  margin-right: 10px; 
  display: flex;
  justify-content: center;
  flex-grow: 1;
  top: 8px;
  
}
.navega ul li {
  position: relative;
  display: flex;
  list-style-type: none;
  border-right: 2px solid #fff;
 

}
.navega ul li a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}
.navega ul li a {
  color: rgb(206, 23, 176);
  text-align: justify;
  padding: 15px;
  display: block;
  text-decoration: none;
}



@media (max-width: 768px) {
  header {
    background: #37a5c7;
    display: inline-block;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 3;
   
  }

  .navega {
    width: 70%;
    display: block;
    background-size: 100%;
    background-position: center;
    text-align: center;
    background-color: #37a5c7;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 261px;
    z-index: 3;
    margin-left: -70%;
    position: relative;
    top: 0px;
    
    
  
   
  }
  .navega .logo {
    display: none;
    margin-left: 25px;
    margin-right: 3px;
  }
  .navega ul {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
   
    width: 100%;
   
    position: relative;
    top: 0px;

    height: 250px;
    padding: 0;
   
  }
  .navega ul li {
    display: inline-block;
    list-style-type: none;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 100%;
    
    height: 52px;
    position: relative;
    left: 0px;
    
  }
  .navega ul li a {
    color: #ce17b0;
    text-align: justify;
   
    border: #db27cc;
    display: block;
    text-decoration: none;
    
    height: 50px;
  }
  .navega ul li a:hover {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    
  }

  #btn-menu {
    display: none;
  }

  #btn-menu:checked ~ .navega {
    margin: 0;
  }

  header label {
    display: flex;
    border: 5px solid #0a1a2a;
    width: 50px;
    height: 50px;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }

  header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
  }
}
@media screen and (min-width: 768px) {
    .Coro {
      
         display: flex;
         align-items: center;
         justify-content: center;
         
      
     }
     .carousel {
         /*position: relative;
         top: 80px;
         width: 40%;
         height: 605px;*/
     
         width: 60%;
         height: 605px
      
     
     }
     .Coro img {
        
         width:  305px;
         height: 605px;
      
     }

}







.pie-pagina {
    width: 100%;
    background-color: #0a1a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
    width: 100%;
    flex-direction: column;
  
  }
  .pie-pagina .grupo-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box {
    margin: 20px;
  }
  .pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box img {
    height: 100px;
    width: 100px;
  }
  .pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .box .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .box .red-social a:hover {
    color: aqua;
  }
  .pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    height: 70px;
    position: relative;
    top: 15px;
  }
  .pie-pagina .grupo-2 small {
    font-size: 15px;
  }
  
  @media screen and (max-width: 768px) {
    .pie-pagina {
      width: 100%;
      background-color: #0a1a2a;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 420px;
      width: 100%;
      flex-direction: column;
    }
    .pie-pagina .grupo-1 {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .pie-pagina .grupo-1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .pie-pagina .grupo-1 .box img {
      height: 100px;
      width: 100px;
    }
    .pie-pagina .grupo-1 .box h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px;
    }
    .pie-pagina .grupo-1 .box p {
      color: #efefef;
      margin-bottom: 10px;
    }
    .pie-pagina .grupo-1 .box .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #0d2033;
      text-align: center;
      transition: all 300ms ease;
    }
    .pie-pagina .grupo-1 .box .red-social a:hover {
      color: aqua;
    }
    .pie-pagina .grupo-2 {
      background-color: #0a1a2a;
      text-align: center;
      color: #fff;
      height: 50px;
      position: relative;
    }
    .pie-pagina .grupo-2 small {
      font-size: 15px;
    }
  }


