@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap");
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

#btn-menu {
  display: none;
}

header label {
  display: none;
}

.navega {
  width: 100%;
  display: flex;
  background-size: 100%;
  background-position: center;
  text-align: center;
  background-color: #37a5c7;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 80px;
  z-index: 3;
}
.navega .logo {
  margin-left: 35px;
  margin-right: 3px;
}
.navega ul {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.navega ul li {
  display: inline-block;
  list-style-type: none;
  border-right: 2px solid #fff;
}
.navega ul li a {
  color: #ce17b0;
  text-align: justify;
  padding: 15px;
  border: #db27cc;
  display: block;
  text-decoration: none;
}
.navega ul li a a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

.navega ul li a:hover {
  background: rgba(190, 64, 64, 0.3);
  color: white;
}

@media (max-width: 768px) {
  header {
    background: #37a5c7;
    display: inline-block;
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 3;
  }

  .navega {
    width: 70%;
    display: block;
    background-size: 100%;
    background-position: center;
    text-align: center;
    background-color: #37a5c7;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 252px;
    z-index: 3;
    margin-left: -70%;
    top: 75px;
  }
  .navega .logo {
    display: none;
    margin-left: 25px;
    margin-right: 3px;
  }
  .navega ul {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .navega ul li {
    display: inline-block;
    list-style-type: none;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 100%;
  }
  .navega ul li a {
    color: #ce17b0;
    text-align: justify;
    padding: 15px;
    border: #db27cc;
    display: block;
    text-decoration: none;
  }
  .navega ul li a a:hover {
    background: rgba(0, 0, 0, 0.3);
    color: white;
  }

  .navega ul li a:hover {
    background: rgba(190, 64, 64, 0.3);
    color: white;
  }

  #btn-menu {
    display: none;
  }

  #btn-menu:checked ~ .navega {
    margin: 0;
  }

  header label {
    display: flex;
    border: 5px solid #0a1a2a;
    width: 50px;
    height: 50px;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }

  header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
  }
}
.programa {
  height: 700px;
  position: relative;
  top: 74px;
  justify-content: center;
  text-align: center;
  background-image: url(../img/Azul.png);
  background-size: cover;
}
.programa h2 {
  position: relative;
  text-align: center;
  justify-content: center;
  height: 100px;
  color: #13eccf;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  top: 50px;
  padding: 20px;
}
.programa .contenedor-programa {
  height: 600px;
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.programa .contenedor-programa .MiniCoder5-icon {
  background-image: url("../img/MiniCoder5.png");
  background-size: cover;
  border: 5PX solid #352f30;
  height: 310px;
  width: 200px;
  margin: 10px;
  transition: height 1s;
  border: 4px solid #3be0bc;
}
.programa .contenedor-programa .MiniCoder5-icon:hover {
  height: 330px;
  transform: scale(1.1);
}
.programa .contenedor-programa .MiniCoder9-icon {
  background-image: url("../img/MiniCoder9.png");
  background-size: cover;
  border: 5PX solid #352f30;
  height: 310px;
  width: 200px;
  margin: 10px;
  transition: height 1s;
  border: 4px solid #3be0bc;
}
.programa .contenedor-programa .MiniCoder9-icon:hover {
  height: 330px;
  transform: scale(1.1);
}
.programa .contenedor-programa .MiniCoder12-icon {
  background-image: url("../img/MiniCoder12.png");
  background-size: cover;
  border: 5PX solid #352f30;
  height: 310px;
  width: 200px;
  margin: 10px;
  transition: height 1s;
  border: 4px solid #3be0bc;
}
.programa .contenedor-programa .MiniCoder12-icon:hover {
  height: 330px;
  transform: scale(1.1);
}
.programa .contenedor-programa .MiniCoder18-icon {
  background-image: url("../img/MiniCoder18.png");
  background-size: cover;
  border: 5PX solid #352f30;
  height: 310px;
  width: 200px;
  margin: 10px;
  transition: height 1s;
  border: 4px solid #3be0bc;
}
.programa .contenedor-programa .MiniCoder18-icon:hover {
  height: 330px;
  transform: scale(1.1);
}

@media only screen and (max-width: 1000px) {
  .programa {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 700px;
    position: relative;
    top: 74px;
    justify-content: center;
    text-align: center;
    background-image: url(../img/Azul.png);
    background-size: cover;
  }
  .programa h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 40px;
    color: #202420;
    font-family: "Courier New", Courier, monospace;
    top: 40px;
  }
  .programa .contenedor-programa {
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .programa .contenedor-programa .MiniCoder5-icon {
    background-image: url("../img/MiniCoder5.png");
    background-size: cover;
    border: 5PX solid #352f30;
    height: 200px;
    width: 150px;
    margin: 10px;
    transition: height 1s;
    border: 4px solid #232928;
  }
  .programa .contenedor-programa .MiniCoder5-icon:hover {
    height: 280px;
    width: 180px;
    transform: scale(1.05);
  }
  .programa .contenedor-programa .MiniCoder9-icon {
    background-image: url("../img/MiniCoder9.png");
    background-size: cover;
    border: 5PX solid #352f30;
    height: 200px;
    width: 150px;
    margin: 10px;
    transition: height 1s;
    border: 4px solid #232928;
  }
  .programa .contenedor-programa .MiniCoder9-icon:hover {
    height: 280px;
    width: 180px;
    transform: scale(1.05);
  }
  .programa .contenedor-programa .MiniCoder12-icon {
    background-image: url("../img/MiniCoder12.png");
    background-size: cover;
    border: 5PX solid #352f30;
    height: 200px;
    width: 150px;
    margin: 10px;
    transition: height 1s;
    border: 4px solid #232928;
  }
  .programa .contenedor-programa .MiniCoder12-icon:hover {
    height: 280px;
    width: 180px;
    transform: scale(1.05);
  }
  .programa .contenedor-programa .MiniCoder18-icon {
    background-image: url("../img/MiniCoder18.png");
    background-size: cover;
    border: 5PX solid #352f30;
    height: 200px;
    width: 150px;
    margin: 10px;
    transition: height 1s;
    border: 4px solid #232928;
  }
  .programa .contenedor-programa .MiniCoder18-icon:hover {
    height: 280px;
    width: 180px;
    transform: scale(1.05);
  }
}
.contenedor-benedicios {
  position: relative;
  height: 480px;
  display: flex;
  flex-direction: column;
  top: 74px;
}
.contenedor-benedicios h2 {
  position: relative;
  text-align: center;
  top: 20px;
}
.contenedor-benedicios .benefi {
  height: 450px;
  display: flex;
  flex-direction: row;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}
.contenedor-benedicios .benefi .bens {
  height: 350px;
  width: 250px;
  margin: 10px;
}
.contenedor-benedicios .benefi .bens p {
  position: relative;
  text-align: center;
}
.contenedor-benedicios .benefi .bens h2 {
  position: relative;
  top: 0px;
  text-align: center;
  margin: 16px;
}
.contenedor-benedicios .benefi .ben1-ben {
  background-size: cover;
  background-image: url("../img/ben1.png");
  height: 120px;
  width: 100%;
  transition: height 1s;
  justify-content: center;
  align-items: center;
}
.contenedor-benedicios .benefi .ben2-ben {
  background-size: cover;
  background-image: url("../img/ben2.png");
  height: 120px;
  width: 100%;
  transition: height 1s;
  justify-content: center;
  align-items: center;
}
.contenedor-benedicios .benefi .ben3-ben {
  background-size: cover;
  background-image: url("../img/ben3.png");
  height: 120px;
  width: 100%;
  transition: height 1s;
  justify-content: center;
  align-items: center;
}
.contenedor-benedicios .benefi .ben4-ben {
  background-size: cover;
  background-image: url("../img/ben4.png");
  height: 120px;
  width: 100%;
  transition: height 1s;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .contenedor-benedicios {
    position: relative;
    height: 480px;
    display: flex;
    flex-direction: column;
    top: 74px;
  }
  .contenedor-benedicios h2 {
    text-align: center;
  }
  .contenedor-benedicios .benefi {
    height: 450px;
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .contenedor-benedicios .benefi .bens {
    height: 350px;
    width: 250px;
    margin: 10px;
  }
  .contenedor-benedicios .benefi .bens p {
    position: relative;
    text-align: center;
  }
  .contenedor-benedicios .benefi .bens h2 {
    position: relative;
    line-height: 20px;
    font-size: 15px;
    text-align: center;
  }
  .contenedor-benedicios .benefi .ben1-ben {
    background-size: cover;
    background-image: url("../img/ben1.png");
    height: 60px;
    width: 100%;
    transition: height 1s;
    justify-content: center;
    align-items: center;
  }
  .contenedor-benedicios .benefi .ben2-ben {
    background-size: cover;
    background-image: url("../img/ben2.png");
    height: 60px;
    width: 100%;
    transition: height 1s;
    justify-content: center;
    align-items: center;
  }
  .contenedor-benedicios .benefi .ben3-ben {
    background-size: cover;
    background-image: url("../img/ben3.png");
    height: 60px;
    width: 100%;
    transition: height 1s;
    justify-content: center;
    align-items: center;
  }
  .contenedor-benedicios .benefi .ben4-ben {
    background-size: cover;
    background-image: url("../img/ben4.png");
    height: 60px;
    width: 100%;
    transition: height 1s;
    justify-content: center;
    align-items: center;
  }
}
.Test {
  height: 500px;
  position: relative;
  top: 70px;
}
.Test h2 {
  text-align: center;
}
.Test .contenedo-test {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.Test .contenedo-test div {
  border: 1px solid #494545;
  width: 230px;
  margin: 10px;
  height: 355px;
  padding: 15px;
}

@media only screen and (max-width: 900px) {
  .Test {
    display: flex;
    flex-direction: column;
    height: 550px;
    position: relative;
    top: 74px;
  }
  .Test h2 {
    text-align: center;
  }
  .Test .contenedo-test {
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .Test .contenedo-test div {
    border: 1px solid #494545;
    width: 230px;
    margin: 10px;
    height: 400px;
  }
  .Test .contenedo-test div p {
    font-size: 14px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
}
@media only screen and (max-width: 600px) {
  .Test {
    display: flex;
    flex-direction: column;
    height: 550px;
    position: relative;
    top: 74px;
  }
  .Test h2 {
    text-align: center;
  }
  .Test .contenedo-test {
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .Test .contenedo-test div {
    border: 1px solid #494545;
    width: 230px;
    padding: 4px;
    height: 450px;
  }
  .Test .contenedo-test div p {
    font-size: 14px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
}
.Comunicate {
  display: flex;
  position: relative;
  top: 70px;
  width: 100%;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #21e7cd;
}
.Comunicate h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0px;
  width: 300px;
}
.Comunicate .Redes {
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0px;
}
.Comunicate h3 {
  display: flex;
  left: 0px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 30px;
  height: 160px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
}

@media only screen and (max-width: 768px) {
  .Comunicate {
    position: relative;
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #21e7cd;
  }
  .Comunicate h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    width: 300px;
  }
  .Comunicate .Redes {
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
  }
  .Comunicate h3 {
    display: flex;
    left: 0px;
    margin-left: 500px;
    margin-right: 500px;
    padding: 30px;
    height: 160px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
  }
}
.pie-pagina {
  width: 100%;
  background-color: #0a1a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  flex-direction: column;
  position: relative;
  top: 70px;
}
.pie-pagina .grupo-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box {
  margin: 20px;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box img {
  height: 100px;
  width: 100px;
}
.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .box .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .red-social a:hover {
  color: aqua;
}
.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 70px;
  position: relative;
  top: 15px;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .pie-pagina {
    width: 100%;
    background-color: #0a1a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    flex-direction: column;
  }
  .pie-pagina .grupo-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box img {
    height: 100px;
    width: 100px;
  }
  .pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
  }
  .pie-pagina .grupo-1 .box .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .box .red-social a:hover {
    color: aqua;
  }
  .pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    text-align: center;
    color: #fff;
    height: 50px;
    position: relative;
  }
  .pie-pagina .grupo-2 small {
    font-size: 15px;
  }
}

/*# sourceMappingURL=parakids.css.map */
